@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');

body{
    font-family: 'Josefin Slab', serif;
    background-color: #f5f2eb;
    font-weight: 600;
    
}
a {
    color: #7a412d;
    text-decoration: none;
}
a:focus, a:hover {
    color: #7a412d;
    text-decoration: underline;
}



.bg-navKistler {
 background-color: #3f3011; 
}

.form-signin {
  max-width: 450px;
  padding: 15px 35px 45px;
  margin:15% auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.loginTextCenter{ text-align: center; margin-bottom: 10px; color: #a75b02;}
.loginSummText{ margin-bottom: 10px;}


.btn-kistler{
    color: #fff;
    background-color: #7a412d;
    border-color: #6a3826;
}
.btn-kistler:hover {
    color: #fff;
    background-color: #773f2b;
    border-color: #6a3826;
}
.forgotPassword{ padding: 15px 0px;}
.loginFooter{ padding-top: 15px; border-top:solid 2px #dcdddb; padding-bottom: 15px;}


