<div class="jumbotron container">
	<h2>Change Password</h2>    
    <div class='row'>
        <span class='col-md-1 col-md-2'>Old password:</span>
        <input class='col-md-3' type="password" #oldPwd>
    </div>
    <div class='row'>
        <span class='col-md-1 col-md-2'>New password:</span>
        <input class='col-md-3'  type="password" #newPwd1>
    </div>
    <div class='row'>
        <span class='col-md-1 col-md-2'>Confirm new password:</span>
        <input class='col-md-3'  type="password" #newPwd2>
    </div>
    <div class='row'>
        <span class='col-md-1 col-md-2'></span>
	    <button class="col-md-3 btn btn-success" (click)="changePassword(oldPwd.value,newPwd1.value,newPwd2.value)">Submit</button>       
    </div>
</div>